.wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px dashed white;

  h2 {
    font-size: 36px;
    font-weight: 700;
    color: white;
    line-height: 1rem;
    text-transform: capitalize;
    display: flex;
    flex-grow: 1;
    padding-top: 10px;
    letter-spacing: 1.5px;
  }

  span {
    svg {
      color: white;
      position: right;
    }
  }
}

.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}
